.form-group .form-control {
  margin-bottom: 1rem;
  /* padding: 20px 20%; */
  /* padding-left: 100px; */
}

.form {
  padding: 20px 15%;
}

.card {
  margin: 50px 25%;
}

.button {
  margin-left: 35%;
  margin-right: 30%;
}

.tablecode {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
